:root{
	--bgcolour: #C5E2F7;
	--bgcolour2: #816F68;
	--buttonColour: #D0BCAC;
	--headings: #24707C;
	--bgcolour3: #4FB3CA;
	--bgcolour4: #816F68;
	
}
body{
	background-color: var(--bgcolour);
}
.container{
	background-color: var(--bgcolour);
	width: 100%;
	overflow: visible;
}
/*Header section*/
.dropdown:hover .dropdown-menu{
	margin-top: 0;
	display: block;
}

.dropdown:hover .dropdown-toggle::after{
	border-top: 0;
	border-bottom: 5px solid;
}

.navbar{	
	background-color: var(--bgcolour);
	top: 0;
	z-index: 1000;
	height: 61px;
	border-bottom: white 2px solid;
	position: sticky;
	overflow: visible;
}
.container-fluid,
.bg-body-tertiary{
	background-color: var(--bgcolour);
}
/*Body section*/
hr{
	height: 0;
	border: 0;
}
	/*Main Section (1)*/
main.index{
	background-image: url("../img/turtle_ocean_JB.jpg"); /*Image Link: https://www.pexels.com/photo/photo-of-a-turtle-swimming-underwater-847393/*/
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20rem;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.s1p::first-letter{
	font-size: 150%;
}

h1{
	color: white;
	font-weight: bold;
	z-index: 1;
}

p.whiteText{
	color: white;
	z-index: 1;
	font-weight: bold;
	font-size: small;
}

.section1_home h2{
	text-align: center;
	padding: 50px;
}

 /*Section 2 begins*/
.section2_home{
	width: auto;
	height: 300px;
	text-align: center;
	background-color: var(--bgcolour2);
}
.section2_home h2{
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	padding: 50px;
	color: white;
}
.section2_home p{
	font-size: 25px;
	font-weight: none;
	color: white;
}

.btn,
.btn-light{
		background-color: var(--buttonColour); 
		border: var(--buttonColour);
		color: white;
		font-weight: bold;
}

/*Section 3 begins*/
.section3_home,
.sec3{
	background-color: var(--buttonColour);
}

.section3_home{
	
	width: 100%;
	max-width: 800px;
	height: 400px;
	margin: 100px auto;
}

h3{
	text-align: center;
	color:var(--headings);
	margin-bottom: 50px;
}
.coralS3{
	max-width: 100%;
	height: auto;
	
}

/*Section 4 home starts*/

.container,
.text-center{
	padding: 30px;
}

.section4_home h3{
	font-size: 50px;
}

.card{
	background-color: var(--bgcolour4);
}

.card-title,
.card-text{
	color: white;
}

.btns{
	display: flex;
	gap: 10px;
	justify-content: center;
	margin-top: 10px;
}

.btnLeft, 
.btnRight{
	padding: 6px 12px;
	font-size: 14px;
	border-radius: 4px;
	min-width: 60px;
	text-align: center;
}

footer{
	text-align: center;
	font-weight: bold;
	font-size: small;
}


/*SOLUTIONS PAGE STARTS HERE*/

/*Section1 solutions*/
.section1_solutions{
	display: block;
}

.section1_solutions h1{
	text-align: center;
	color: var(--headings);
}
.bigtext{
	font-size: 30px;
	text-align: center;
	margin-top: 35px;
	margin-bottom: 0;
	font-weight: bold;
	color: var(--buttonColour);
}

.solText {
  background-color: var(--buttonColour);
  border: 2px solid black;
  padding: 20px;
  margin: 10px 0;
  box-sizing: border-box;
}

.left, 
.right {
  float: none;
  margin-left: 0;
}

.img_solutions{
	overflow: hidden;
	height: 350px;
}
.solimg{
	max-width: 100%;
	height: auto;
	display: block;
	margin: 10px 0;
	
}

/*Section2 solutions*/

.section2_solutions{
	align-items: center;
	background-color: var(--headings);
	justify-content: justify;
	margin: 20px;
	margin-top:200px;
	width: auto;
}
h3.h3solutions{
	text-align: center;
}
h3.h3solutions,
.psection3,
#biggerText{
	color: white;
}
#biggerText{
	font-size: 25px;
	font-weight: bold;
}

.right{
	margin-left: 60px;
	margin-top: 0;
	float: right;
	width: 350px;
	
}
.left{	
	margin-right: 60px;
	margin-top: 0;
	float: left;
	width: 350px;
}