:root{
	--bgcolour: #C5E2F7;
	--buttonColour: #D0BCAC;
	--headings: #24707C;
	
}
body{
	background-color: var(--bgcolour);
}
.container{
	background-color: var(--bgcolour);
	width: 100%;
	overflow: visible;
}
/*Header section*/

.navbar{	
	background-color: var(--bgcolour);
	top: 0;
	z-index: 1000;
	height: 61px;
	border-bottom: white 2px solid;
	position: sticky;
	overflow: visible;
}
.container-fluid,
.bg-body-tertiary{
	background-color: var(--bgcolour);
}
/*Body section*/
hr{
	height: 0;
	border: 0;
}
	/*Main Section (1)*/
main.index{
	background-image: url("../img/turtle_ocean_JB.jpg"); /*Image Link: https://www.pexels.com/photo/photo-of-a-turtle-swimming-underwater-847393/*/
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20rem;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.s1p::first-letter{
	font-size: 150%;
}

h1{
	color: white;
	font-weight: bold;
	z-index: 1;
}

p.whiteText{
	color: white;
	z-index: 1;
	font-weight: bold;
	font-size: small;
}

h2{
	text-align: center;
	padding: 50px;
	color: var(--headings);
}
 /*Section 2 begins*/
.section2_home{
	text-align: center;
}

.btn,
.btn-light{
		background-color: var(--buttonColour); 
		border: var(--buttonColour);
		color: white;
		font-weight: bold;
}

/*Section 3 begins*/

.section3_home{
	
	width: 100%;
	max-width: 800px;
	height: 400px;
	margin: 100px auto;
}

h3{
	text-align: center;
	color:var(--headings);
	margin-bottom: 50px;
}
.coralS3{
	max-width: 100%;
	height: auto;
	
}

/*Section 4 home starts*/

.container,
.text-center{
	padding: 30px;
}
.card,
.w-50{
	background-color: var(--headings);
}

.btns{
	display: flex;
	gap: 10px;
	justify-content: center;
	margin-top: 10px;
}

.btnLeft, 
.btnRight{
	padding: 6px 12px;
	font-size: 14px;
	border-radius: 4px;
	min-width: 60px;
	text-align: center;
}
