:root{
	--bgcolour: #cae9ff;
	
}
body{
	background-color: var(--bgcolour);
}
.container{
	background-color: var(--bgcolour);
	width: 100%;
}
/*Header section*/
nav.navbar{	
	top: 0;
	z-index: 1000;
	height: 61px;
	border-bottom: white 2px solid;
	position: sticky;
	overflow: visible;
}
.container-fluid,
.bg-body-tertiary{
	background-color: var(--bgcolour);
}
/*Body section*/
hr{
	height: 0;
	border: 0;
}
	/*Main Section*/
main{
	background-image: url("../img/turtle_ocean_JB.jpg"); /*Image Link: https://www.pexels.com/photo/photo-of-a-turtle-swimming-underwater-847393/*/
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20rem;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

h1{
	color: white;
	z-index: 1;
}
